@import url('bars.css');
@import url('components.css');
@import url('general-style.css');
@import url('misc.css');
@import url('other-tabs.css');
@import url('popup.css');
@import url('system-style.css');
@import url('tree-node.css');
@import url('themes.css');

/* menus */
@import url("menus/options.css");