.options-tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.opt {
	min-height: 60px;
	width: 100%;
	border-radius: 10px;
	border: none;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	cursor: pointer;
	transition: all .3s ease;
	margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.opt:hover {
	background-color: rgba(255, 255, 255, 0.2);
	scale: 1.05;
}

.opt:active {
    background-color: rgba(255, 255, 255, 0.6);
	transition: all 0s ease;
}

.opt .key-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-right: 10px;
    font-family: inherit;
}

.opt .key-desc .key {
    text-align: left;
    margin: 0;
    font-family: inherit;
}

.opt .key-desc .desc {
    text-align: left;
    font-size: 12px;
    color: #dddddd;
    margin: 0;
    font-family: inherit;
}

.opt .value {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: inherit;
}