.upg {
	min-height: 120px;
	width: 120px;
	border-radius: 10px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
	margin: 2px;
}

.achievement {
	height: 100px;
	width: 84px;
	padding-inline: 8px;
	border-radius: 10px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	margin: 1px;
	font-size: 10px;
	color: white;
	text-shadow: 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000;
}

.achievement:hover {
	box-shadow: 0 0 10px var(--points);
	z-index: 7;
}

.achievement h3 {
	font-family: "Courier New", Courier, monospace;
}

.buyable {
	height: 200px;
	width: 200px;
	border-radius: 10px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	position:relative;
}

.milestone {
	width: 100%;
	min-width: 120px;
	max-width: 500px;
	padding-left: 10px;
	padding-right: 10px;
	height: 80px;
	font-size: 16px;
	background-color: #bf8f8f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.milestoneDone {
	width: 100%;
	min-width: 120px;
	max-width: 500px;
	padding-left: 10px;
	padding-right: 10px;

	height: 80px;
	font-size: 16px;
	background-color: #77bf5f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.challenge {
	background-color: #bf8f8f;
	position: relative;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
	width: 300px;
	height: 300px;
	font-size: 15px;
	border-radius: 33.33%;
}

.challenge.done {
	background-color: #77bf5f;
}

.challenge.canComplete {
	background-color: #ffbf00;
}

/* Infoboxes */
.story {
    width: 600px;
    max-width: 95%;
    border-bottom: solid 4px;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: left;
}

.story-title {
    text-align: left;
    font-size: 24px;
    color: black;
    cursor: pointer;
    border: none;
    padding: 2px;
    border-radius: 8px 8px 0 0;
}

.story-toggle {
    border: none;
    background: black;
    color: white;
    font-size: 20px;
    pointer-events: none;
    width: 1em;
    display: inline-block;
}

.story-text {
	padding: 2px;
    border: solid 4px;
    border-color: inherit;
    border-radius: inherit;
    border-top-left-radius: 0;
    margin-bottom: -2px;
}


/* Tiles are gridables */
.tile {
	height: 80px;
	width: 80px;
	border-radius: 15px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
}

.tile.can:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1, 1.1);
	z-index: 7;
}

.upgBig {
	height: 200px;
	width: 200px;
	border-radius: 25px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

/* Used for respec button and similar */
.longUpg {
	height: 50px;
	width: 120px;
	background: var(--points);
	border-radius: 50px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
}

.smallUpg {
	height: 40px;
	width: 40px;
	border-radius: 25px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

.song-info {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-width: 500px;
	height: 80px;
	background: #0003;
}
.song-info > .info {
	height: 100%;
	flex: 0 0 50%;
	box-sizing: border-box;
	text-align: left;
	background: #0007;
	padding: 12px 0 0 20px;
}
.song-info > .quality h3 {
	line-height: 90%;
	margin: 0;
}
.song-info > .info h5 {
	text-align: left;
}

.song-info > .quality {
	text-align: right;
	flex: 0 0 50%;
	padding: 0 20px 0 0;
	box-sizing: border-box;
}
.song-info > .quality h2 {
	font-size: 2.5em;
	line-height: 95%;
}
.song-info > .quality h5 {
	text-align: right;
}

.action-modes {
	flex-wrap: nowrap !important;
	min-width: 500px;
}
.action-modes > div {
	height: 30px;
	width: auto;
	flex: 1 1 100%;
}
.action-modes > div > button {
	width: 100%;
	height: 100%;
	font-size: 12px;
}

.note-track {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-width: 500px;
	height: 54px;
	background: #0003;
}
:nth-child(even) > .note-track {
	background: #0005;
}
.note-track > .info {
	height: 100%;
	flex: 0 0 150px;
	box-sizing: border-box;
	font-size: 12px;
	text-align: left;
	background: #0007;
	padding: 0 0 2px 10px;
	color: inherit;
}
.note-track > .bar {
	height: 100%;
	flex: 1 1 100%;
	padding-top: 15px;
	font-size: 21px;
}
.note-track > button {
	height: 100%;
	flex: 0 0 150px;
	border-radius: 0;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 12px;
	overflow: visible;
}

.world-song {
	display: flex;
	flex-direction: column;
	width: 500px;
	background: #0003;
	margin: 3px 0;
	padding: 0;
	color: var(--color);
	border: none;
}
.world-song.can {
	animation: world-song-can 1.5s ease-out infinite, world-song-shake 2s linear infinite;
	outline: 2px solid;
	box-shadow: 0 0 0 2px var(--color);
}
:nth-child(even) > .world-song {
	background: #0005;
}
.world-song > .info {
	display: flex;
	flex-direction: row;
	flex: 0 0 44px;
	width: 100%;
	background: #0007;
	font-size: 12px;
}
.world-song > .info > .metadata {
	flex: 1 1 50%;
	text-align: left;
	padding-left: 10px;
}
.world-song > .info > .stats {
	flex: 1 1 50%;
	text-align: right;
	padding-right: 10px;
}
.world-song > .status {
	display: flex;
	flex-direction: column;
	flex: 0 0 60px;
	font-size: 14px;
}

@keyframes world-song-can {
	from {
		outline-color: var(--color);
		outline-offset: 0;
	} to {
		outline-color: transparent;
		outline-offset: 1em;
	}
}
@keyframes world-song-shake {
	0% { transform: translate(0, 0) rotate(0deg); }
	2% { transform: translate(1px, 1px) rotate(.5deg); }
	4% { transform: translate(2px, -2px) rotate(-1deg); }
	6% { transform: translate(-2px, -2px) rotate(1deg); }
	8% { transform: translate(-1px, 1px) rotate(-.5deg); }
	10% { transform: translate(0, 0) rotate(0deg); }
	100% { transform: translate(0, 0) rotate(0deg); }
}

.task {
	display: flex;
	flex-direction: column;
	width: 500px;
	background: #0003;
	margin: 3px 0;
	padding: 0;
	color: var(--color);
	border: none;
	font-size: 14px;
}
.task.locked {
	background: #0003;
	cursor: default;
}
.task.canComplete {
	animation: world-song-can 1.5s ease-out infinite, world-song-shake 2s linear infinite;
	outline: 2px solid;
	box-shadow: 0 0 0 2px var(--color);
}

.task > .header {
	display: flex;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
	background: #0007;
	padding: 5px 10px;
}
.task > .header > h3 {
	flex: 0 0 100%;
	margin: 0;
	text-align: left;
}

.task > .description {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	text-align: left;
}
.task .description * {
	text-align: left;
}

.task .description-table {
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	margin: 8px -2px -2px -2px;
}
.task .description-table hr {
	opacity: 0;
}
.task .description-table :is(th, td) {
	width: 50%;
	text-align: left;
	vertical-align: top;
}
.task .description-table :is(th, td):only-child {
	width: 100%;
}
.task .description-table :is(th, td) * {
	text-align: left;
	margin: 0;
}
.task ul {
	list-style-type: disc;
    padding-inline-start: 20px;
}

.task > .longUpg {
	width: 100%;
	box-sizing: border-box;
	height: 32px;
	font-size: 12px;
	border-radius: 0;
}
.task > .longUpg.done {
	background-color: #77bf5f !important;
}

.collab-tree {
	width: calc(100vw - 60px);
	max-width: 800px;
	height: calc(100vh - 160px);
	max-height: 500px;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	cursor: grab;
}
.collab-tree.dragging > * {
	pointer-events: none;
}
.collab-tree:active {
	cursor: grabbing;
}
.collab-tree table {
	transition: none;
	border-spacing: 0;
}
.collab-tree tr {
	height: var(--tile-size);
}
.collab-tree td {
	width: var(--tile-size);
}
.collab-tree button.upg, .collab-tree div.ghost {
	width: calc(var(--tile-size) - 4px);
	height: calc(var(--tile-size) - 4px);
	min-height: calc(var(--tile-size) - 4px);
	margin: 2px;
	box-sizing: border-box;
}
.collab-tree button.done {
	background-color: #77bf5f;
}

.clip-inventory {
	display: flex;
	flex-direction: row;
	min-height: 300px;
	max-width: 555px;
	margin-top: 10px;
}
.clip-inventory .active {
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.5);
	flex: 0 0 150px;
	box-sizing: border-box;
	height: 100%;
	min-height: 300px;
	margin: 0;
	padding: 15px;
	gap: 12px 5px;
}
.clip-inventory .inactive {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.3);
	flex: 1 0 350px;
	box-sizing: border-box;
	height: 100%;
	min-height: 300px;
	margin: 0;
	padding: 15px;
	gap: 25px 5px;
}

.clip-inventory .slot {
	width: 120px;
	height: 90px;
	background:rgba(0, 0, 0, 0.5);
	margin: 0;
}


.movie-clip {
	width: 120px;
	height: 90px;
	min-height: 0;
	flex: 0 0 120px;
	box-sizing: border-box;
	border-radius: 0;
	position: relative;
    margin: 0;
}

.clip-inventory .active .movie-clip {
	flex: 0 0 90px;
}

.movie-clip .flow {
	background: inherit;
	border: inherit;
	position: absolute;
	width: 24px;
	height: 12px;
	box-sizing: border-box;
	left: calc(var(--pos) * 30% - 10%);
	transform: translateX(-50%);
	transition: none;
}
.movie-clip .flow.start {
	top: -12px;
	border-bottom: none;
}
.movie-clip .flow.end {
	bottom: -12px;
	border-top: none;
}



.big-music-player .controls {
	margin: -10px -20px 0 -20px;
	width: calc(100vw - 60px);
	max-width: 500px;
	aspect-ratio: 1;
	position: relative;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
}

.big-music-player .controls > img {
	width: 100%;
	height: 100%;
}

.big-music-player .controls > * {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.big-music-player .controls > div {
	background: #0007;
}

.big-music-player .seeker {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: linear-gradient(#fff, #fff), linear-gradient(#fff0, #fff3), linear-gradient(#0000, #0003);
	background-size: var(--progress) 4px, var(--progress) 100%, 100% 100%;
	background-position: bottom left;
	background-repeat: no-repeat;
	transition: none;
}
.big-music-player .seeker::before {
	content: var(--time);
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.big-music-player .seeker::after {
	content: var(--dur);
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.big-music-player .play-pause {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	background: transparent;
	transform: translate(-50%, -50%);
	border: none;
	border-radius: 50%;
}
.big-music-player .play-pause:hover {
	background: #fff3;
}
.big-music-player .play-pause div {
	width: 150px;
	height: 150px;
	transition: none;
}

.big-music-player.paused .play-pause div {
	background: conic-gradient(at 100% 50%, transparent 247.38deg, white 247.38deg 292.62deg, transparent 292.62deg);
	background-size: 72px 60px;
	background-position: 36px 45px;
	background-repeat: no-repeat;
}
.big-music-player.playing .play-pause div {
	background: linear-gradient(white, white), linear-gradient(white, white);
	background-size: 24px 60px, 24px 60px;
	background-position: 38px 45px, 77px 45px;
	background-repeat: no-repeat, no-repeat;
}

.big-music-player .info {
	margin-top: 10px;
	font-size: 14px;
	width: calc(100vw - 100px);
	max-width: 460px;
}