/* Global things */
body {
	color: var(--color);
	overflow: hidden;
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #ffffff;
	background: var(--background)
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Sawarabi Mincho", monospace;
}

.background {
	background-image: var(--background-img);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(5px);

	position: fixed;
	width: calc(100vw + 20px);
	height: calc(100vh + 20px);
	top: -10px;
	left: -10px;
	z-index: -1;
	opacity: 0;
	animation: bgZoom 1s forwards .2s;
}

#app {
	opacity: 0;
	animation: appZoom 1s forwards .2s;
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #bf8f8f;
	cursor: not-allowed;
}

/* Can meens can be clicked/bought/etc */
.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: 0 0 20px var(--points)
}

.bought {
	background-color: #77bf5f;
	cursor: default;
}

#points {
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
}

@keyframes bgZoom {
	0% {
		scale: 1.1;
		opacity: 0;
	}
	100% {
		scale: 1;
		opacity: 0.6;
	}
}

@keyframes appZoom {
	0% {
		scale: 1.1;
		opacity: 0;
	}
	100% {
		scale: 1;
		opacity: 1;
	}
}