.theme-default {
	--color: #dfdfdf;
	--points: #ffffff;
	--locked: #bf8f8f;
	--background: #0f0f0f;
	--background_tooltip: rgba(0, 0, 0, 0.75);
}

.theme-dawn {
    --background-img: url('https://siivagunner.fandom.com/wiki/Category:Vivid/stasis?file=Vivid-stasis.jpg');
}

.theme-tsuki {
    --background-img: url('shrinereport.xyz');
}
