.theme-default {
	--color: #dfdfdf;
	--points: #ffffff;
	--locked: #bf8f8f;
	--background: #0f0f0f;
	--background_tooltip: rgba(0, 0, 0, 0.75);
}

.theme-reimu {
    --background-img: url('https://images5.alphacoders.com/111/thumb-1920-1119683.jpg');
}

.theme-marisa {
    --background-img: url('https://images.alphacoders.com/761/761062.jpg');
}
